<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon %>" type="image/x-icon"/>
    <meta http-equiv="x-ua-compatible" content="IE=edge"/>
    <meta charset="utf-8"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div id="react-document-container"></div>
<script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
</body>
</html>